type: wordpress
php_version: "7.4"
webserver_type: apache-fpm
timezone: Europe/Berlin
router_http_port: "80"
router_https_port: "443"
xdebug_enabled: false
additional_hostnames: []
additional_fqdns: []
provider: default
use_dns_when_possible: true
disable_settings_management: true
